body {
    margin: 0px;
    padding: 0px;
    font-family: 'Karma', serif;
    color: #eee;
}

h1, h2 {
    font-family: 'Karma', serif;
}

.done {
    color: #191;
}
.target {
    color: #b11;
}

.strikethrough {
    text-decoration:line-through;
}

.demoContainer {
    margin: 15px 0px;
    font-family: serif;
}

.generatorTitle, .mdpai_controls .controlSection {
    display: inline-block;
    margin-right: 10px;
}

.challengeTitle {
    cursor: pointer;
}

.errorText{
    color: #c33;
    font-weight: bold;
    margin: 30px;
}

/* textarea {
    display: none;
} */

.mdpTooltip {
    position: fixed;
    font-family: 'Open Sans', sans-serif;
    background-color: #00426e;
    padding: 7px 12px;
    font-size: 15px;
    display: none;
    z-index: 101;
}

input[type='file'] {
    opacity: 0;    
    width: 0px;
    height: 0px;
    position: fixed;
    bottom: -100px;
}

.mdpTooltip.show {
    display: block;
}

.mdpTooltip.show div {
    color: #fff;
}

.mdpInstance {
    display: inline-block;
    overflow: visible;
    top: 0px;
    color: #666;
    font-size: 16px;
    margin: 0px 15px 15px 0px;
    font-family: 'Open Sans', 'sans-serif';
}

.mdpInstance .flippableCardContainer {
    
}







.mdpInstance {
    perspective: 100vw;
}

.benchmarksContainer {
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    transition: 0.5s;
}

.benchmarksContainer.hidden {
    width: 0px !important;
}


.returnChartContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  transition: 0.5s;
}

/* flip the pane when is setting info */
.mdpInstance.showingInfo .flippableCardContainer {
    transform: rotateY(180deg);
}

/* flip speed goes here */
.flippableCardContainer {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.flippableCardContainer .front, .flippableCardContainer .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
    left: 0;
    
    
    /* border-top: 1px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75); */
}

/* front pane, placed above back */
.flippableCardContainer .front {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    background-color: #fff;
}

/* back, initially hidden pane */
.flippableCardContainer .back {
	transform: rotateY(180deg);
}

.flippableCardContainer, .flippableCardContainer .front {
	width: 100%;
	height: 100%;
}

 .flippableCardContainer .cardSide, .benchmarksContainer {
    border-top: 1px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}



.flippableCardContainer .back {
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}


.mdpInstance .back {
    background-color: #00426e;
    padding: 15px;
    cursor: pointer;
    /* font-family: 'Courier New', Courier, monospace; */
}


.mdpInstance .back div, .mdpInstance .back h4 {
    color: #fff;
    /* font-family: 'Courier New', Courier, monospace; */
}

.mdpInstance .back h4 {
    margin: 4px 0px 4px 0px;
} 

.mdpInstance .back .row div {
    display: inline-block;
} 

.mdpInstance .back .row .key {
    margin-right: 8px;
} 

.mdpInstance .back .monoTextarea {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.mdpsContainer[zoomlevel='1'] .back {
    font-size: 10px;
}

.mdpInstance i{
    font-size: 18px;
    color: #999;
}

.mdpInstance .cardDetails{
    padding: 9px 12px;
}

.mdpInstance .cardDetails .cardOneLinerContainer {
    font-size: 15px;
    overflow-x: hidden;
    height: 24px;
}

.mdpInstance .cardDetails i{
    cursor: pointer;
    transform: rotate(0.03deg);
}




.mdpInstance .cardDetails i:hover{
    color: #444;
}

.mdpInstance .cardDetails .icon_delete{
    display: none;
}

.mdpInstance .modeEvaluate .icon_palette,
.mdpInstance .modeEvaluate .icon_palette:hover
 {
    color: #444;
}

.mdpAI[mode='benchmark'] .front.noActions svg {
    opacity: 0.1;
}

.mdpAI[mode='benchmark'] label[actionType='refresh'], 
.mdpAI[mode='benchmark'] label[actionType='palette'],
.mdpAI[mode='benchmark'] label[actionType='map'],
.mdpAI[mode='benchmark'] .icon_refresh, 
.mdpAI[mode='benchmark'] .icon_palette{
    display: none;
}

.mdpAI[mode='generate'] label[actionType='show_chart'],
.mdpAI[mode='generate'] .icon_show_chart{
    display: none;
}

.benchmarkControl.fixed {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}

.modeOption {
    cursor: pointer;
}

.pythonConnectionStatus {
    display: inline-block;
    font-size: 14px;
    color: #222;
    padding: 3px 8px;

}

.connectionStatusDisconnected .pythonConnectionStatus{
    background-color: rgba(255,140,140,1);
}

.connectionStatusConnected .pythonConnectionStatus{
    background-color: rgba(140,255,140,1);
}

#noES6ModuleLoading {
    display: none;
    width: 600px;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
}
#secLatestLive input,
#secLatestLive textarea,
#secLatestLive .mdpai_controls {
    display: none;
}

#secRandRemoveRender textarea {
    display: none;
}

#secDraggableRandomRemovals textarea {
    display: none;
}



#secInitialGARNETGenerator input,
#secInitialGARNETGenerator .mdpai_controls {
    display: none;
}




.mdpAI {
    width: 100%;
}

.sandbox label{
    cursor: pointer;
}




.returnChartSVG {
    width: 240px;
    height: 190px;
}

.mdpsContainer .flippableCardContainer {
    width: 300px;
    height: 360px;
    display: inline-block;
}

.mdpsContainer .benchmarksContainer {
    width: 290px;
    height: 340px;
}


.mdpsContainer[zoomlevel='1'] .flippableCardContainer {
    width: 150px;
    height: 210px;
}
.mdpsContainer[zoomlevel='2'] .flippableCardContainer {
    width: 300px;
    height: 360px;
}
.mdpsContainer[zoomlevel='3'] .flippableCardContainer {
    width: 500px;
    height: 560px;
}
.mdpsContainer[zoomlevel='4'] .flippableCardContainer {
    width: 800px;
    height: 860px;
}


.mdpsContainer[zoomlevel='1'] .benchmarksContainer {
    width: 220px;
    height: 190px;
}
.mdpsContainer[zoomlevel='2'] .benchmarksContainer {
    width: 280px;
    height: 340px;
}
.mdpsContainer[zoomlevel='3'] .benchmarksContainer {
    width: 480px;
    height: 540px;
}
.mdpsContainer[zoomlevel='4'] .benchmarksContainer {
    width: 780px;
    height: 840px;
}

.mdpsContainer .benchmarksContainer .returnChartSVG {
    transition: 0.5s;
}
.mdpsContainer[zoomlevel='1'] .benchmarksContainer .returnChartSVG{
    
}
.mdpsContainer[zoomlevel='2'] .benchmarksContainer  .returnChartSVG{
    transform: scale(1.1,1.1);
}
.mdpsContainer[zoomlevel='3'] .benchmarksContainer  .returnChartSVG{
    transform: scale(1.7,1.7);
}
.mdpsContainer[zoomlevel='4'] .benchmarksContainer  .returnChartSVG{
    transform: scale(2.8,2.8);
}




.sandbox .sandboxContents {
    height: calc(100vh - 44px);
    overflow: auto;
}

.sandbox .set_controls {
    padding: 10px 20px 14px 20px;
    z-index: 100;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    position: fixed;
    bottom: 0px;
    background-color: #005792;
}


.sandbox .set_controls { 

}

.sandbox .set_controls i {
    cursor: pointer;
    margin-right: 4px;
}

.sandbox .mdpai_controls {
    width: 100%;
    background-color: #005792;
}

.sandbox .mdpai_controls .tabSection {
    width: 100%;
    background-color: #13334c;
}

.sandbox .mdpai_controls .tabSection .tab {
    display: inline-block;
    padding: 15px 20px 12px 20px;
    cursor: pointer;
}

.sandbox .mdpai_controls .tabSection .tab:hover {
    background-color: #00426e;
}

.sandbox .mdpai_controls .tabSection .tab.selected {
    background-color: #005792;
}

.sandbox .mdpai_controls .menuSection {
    padding: 12px 20px 18px 20px;
}


.sandbox .mdpai_controls .menuSection select {    
    font-size: 12px;
    border: 0px;
    background-color: #005792;
    color: #eee;
    border-bottom: 1px solid #eee;
    padding: 0px;
}



.sandbox .mdpai_controls .menuSubsection {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.sandbox .mdpai_controls .menuSection .generatorsControls {
    width: 320px;
}

.sandbox .mdpai_controls .menuSection .addMDPsControls {
    float: right;
}

.sandbox .mdpai_controls .menuSection .paramsSubsection {
    width: calc(100% - 40px - 320px - 100px);
}

.sandbox .mdpInstance .cardDetails .icon_delete{
    display: block;
    float: right;
}


.sandbox .mdpai_controls .menuSection.evaluateSection .languageOption {
    font-size: 14px;
}

.sandbox .mdpai_controls .menuSection.evaluateSection .languageOption span {
    vertical-align: top;
}



.sandbox .mdpai_controls .menuSection.evaluateSection input[type='button']{
    margin-right: 10px;
}

.sandbox .mdpai_controls .menuSection.evaluateSection .sharedLanguageControls {
    display: inline-block;    
    float: right;
}

.sandbox .mdpai_controls .menuSection.evaluateSection .pythonInterfaceControls {
    display: inline-block;    
    font-size: 14px;
}



.sandbox .mdpai_controls .menuSection.evaluateSection .pythonConnectionStatus {
    margin-top: 5px;
    height: 16px;
    margin-bottom: -4px;
}





.sandbox .mdpsContainer {
    width: calc(100% - 40px);
    padding: 20px;
}

.sandbox .generatorsControls {
    width: 100px;    
}


.sandbox .set_controls label {
    /* margin-left: 20px; */
}

.sandbox .set_controls .button_save_set {
    margin-left: 20px;
}




.mdpai_controls, .set_controls {display: none;}
