body {
    margin: 0px;
    padding: 0px;
    font-family: 'Karma', serif;
    color: #eee;
}

h1, h2 {
    font-family: 'Karma', serif;
}
p, .caption, ul, li {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    margin-top: 40px;
}

input[type=button] {
    background-color: #fd5f00;
    color: #fff;
    border: 0px;
    cursor: pointer;
    padding: 4px 8px;

}

a {
    color: blue;
    text-decoration: none;
}

.gist {
    width: 650px;
    margin: 20px 0px;
}

#bodyContent.presentationMode{
    margin-top: 0px;
}



.section p {
    width: 600px;
    margin-bottom: 20px;
}

select.numGeneratorsSelect {
    margin-left: 10px;
}

.caption {
    font-size: 11.5;
    width: 600px;
    color: #444;
    margin-top: -10px;
    margin-bottom: 20px;
}

.highlighted {
    color: #c33;
    font-weight: bold;
}

ul {
    margin-top: 10px;
}

li {
    width: 600px;
    margin-bottom: 10px;
}

.done {
    color: #191;
}
.target {
    color: #b11;
}

.strikethrough {
    text-decoration:line-through;
}

.demoContainer {
    margin: 15px 0px;
    font-family: serif;
}

.generatorTitle, .mdpai_controls .controlSection {
    display: inline-block;
    margin-right: 10px;
}

.challengeTitle {
    cursor: pointer;
}

.errorText{
    color: #c33;
    font-weight: bold;
    margin: 30px;
}

/* textarea {
    /* display: none; */
} */

.mdpInstance {
    display: inline-block;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    top: 0px;
    color: #666;
    font-size: 16px;
    margin: 0px 15px 15px 0px;
    font-family: 'Open Sans', 'sans-serif';
}

.mdpInstance i{
    font-size: 18px;
    color: #999;
}

.mdpInstance .cardDetails{
    padding: 9px 12px;
}

.mdpInstance .cardDetails .cardOneLinerContainer {
    font-size: 15px;
    overflow-x: hidden;
    height: 24px;
}

.mdpInstance .cardDetails i{
    cursor: pointer;
    transform: rotate(0.03deg);
}




.mdpInstance .cardDetails i:hover{
    color: #444;
}

.mdpInstance .cardDetails .icon_delete{
    float:right;
}


.benchmarkControl.fixed {
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}

.modeOption {
    cursor: pointer;
}

.pythonConnectionStatus {
    display: inline-block;
}

.connectionStatusDisconnected .pythonConnectionStatus{
    background-color: rgba(255,140,140,1);
}

.connectionStatusConnected .pythonConnectionStatus{
    background-color: rgba(140,255,140,1);
}

#noES6ModuleLoading {
    display: none;
    width: 600px;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
}
#secLatestLive input,
#secLatestLive textarea,
#secLatestLive .mdpai_controls {
    display: none;
}

#secRandRemoveRender textarea {
    display: none;
}

#secDraggableRandomRemovals textarea {
    display: none;
}



#secInitialGARNETGenerator input,
#secInitialGARNETGenerator .mdpai_controls {
    display: none;
}




.mdpAI {
    width: 100%;
}

.sandbox label{
    cursor: pointer;
}

/* .sandbox .mdpsContainer .mdpInstance {
    width: 300px;
}
.sandbox .mdpsContainer[zoomlevel='1'] .mdpInstance {
    width: 150px;
}
.sandbox .mdpsContainer[zoomlevel='2'] .mdpInstance {
    width: 300px;
}
.sandbox .mdpsContainer[zoomlevel='3'] .mdpInstance {
    width: 500px;
}
.sandbox .mdpsContainer[zoomlevel='4'] .mdpInstance {
    width: 800px;
} */




.sandbox .sandboxContents {
    height: calc(100vh - 44px);
    overflow: auto;
}

.sandbox .set_controls {
    padding: 10px 20px 14px 20px;
    z-index: 100;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    position: fixed;
    bottom: 0px;
    background-color: #005792;
}

.sandbox .set_controls .applyAllIconsDiv {
    display: inline-block;
    margin-right: 15px;
}

.sandbox .set_controls .applyAllIconsDiv:hover {
    color: #ffa167;
}


.sandbox .set_controls .applyAllIconsDiv i{
    font-size: 28px;
}

.sandbox .set_controls .iconLabel {
    font-size: 12px;
    text-align: center;
}

.sandbox .mdpai_controls {
    width: 100%;
    background-color: #005792;
}

.sandbox .mdpai_controls .tabSection {
    width: 100%;
    background-color: #13334c;
}

.sandbox .mdpai_controls .tabSection .tab {
    display: inline-block;
    padding: 15px 20px 12px 20px;
    cursor: pointer;
}

.sandbox .mdpai_controls .tabSection .tab:hover {
    background-color: #00426e;
}

.sandbox .mdpai_controls .tabSection .tab.selected {
    background-color: #005792;
}

.sandbox .mdpai_controls .menuSection {
    padding: 12px 20px 18px 20px;
}


.sandbox .mdpai_controls .menuSection select {    
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    font-size: 12px;
    border: 0px;
    background-color: #005792;
    color: #eee;
    border-bottom: 1px solid #eee;
    padding: 0px;
}


.sandbox .mdpai_controls .menuSection.legendSection.hidden {
    padding: 0px;
    height: 0px;
    overflow: hidden;
    margin: 0px;
}

.sandbox .mdpai_controls .menuSection.legendSection {
    background-color: white;
    margin-left: -16px;
    margin-bottom: -16px;
    border: 0px;
    cursor: pointer;
    transition: 0.5s;
}


.sandbox .mdpai_controls .menuSection.legendSection.hidden img{
    height: 0px;
}

.sandbox .mdpai_controls .menuSection.legendSection img{
    max-width:100%; 
    height:auto;
    border: 0px;
}



.sandbox .mdpai_controls .menuSubsection {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.sandbox .mdpai_controls .menuSection .generatorsControls {
    width: 320px;
}

.sandbox .mdpai_controls .menuSection .addMDPsControls {
    float: right;
}

.sandbox .mdpai_controls .menuSection .paramsSubsection {
    width: calc(100% - 40px - 320px - 100px);
}



.sandbox .mdpai_controls .menuSection.evaluateSection .languageOption {
    font-size: 14px;
}

.sandbox .mdpai_controls .menuSection.evaluateSection .languageOption span {
    vertical-align: top;
}



.sandbox .mdpai_controls .menuSection.evaluateSection input[type='button']{
    margin-right: 10px;
}

.sandbox .mdpai_controls .menuSection.evaluateSection .sharedLanguageControls {
    display: inline-block;    
    float: right;
}

.sandbox .mdpai_controls .menuSection.evaluateSection .pythonInterfaceControls {
    display: inline-block;    
    font-size: 14px;
    height: 17px;
}



.sandbox .mdpai_controls .menuSection.evaluateSection .pythonConnectionStatus {
    margin-top: 5px;
    height: 16px;
    margin-bottom: -4px;
}





.sandbox .mdpsContainer {
    width: calc(100% - 40px);
    padding: 20px;
}

.sandbox .generatorsControls {
    width: 100px;    
}


.sandbox .set_controls label {
    /* margin-left: 20px; */
}

.sandbox .set_controls .button_save_set {
    margin-left: 20px;
}


.sandbox .set_controls .zoomControls {
    position: absolute;
    right: 50px;
    display: inline-block;
    bottom: 16px;
}

.sandbox .set_controls .zoomControls i{
    cursor: pointer;
    font-size: 34px;
}



.mdpai_controls, .set_controls {display: block;}
